In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv("C:/Users/Amit/Notebooks/DL_P_1/Notebooks/DATA/Google_Stock_Price_Train.csv")

In [3]:
train.head()

       Date    Open    High     Low   Close      Volume
0  1/3/2012  325.25  332.83  324.97  663.59   7,380,500
1  1/4/2012  331.27  333.87  329.08  666.45   5,749,400
2  1/5/2012  329.83  330.75  326.89  657.21   6,590,300
3  1/6/2012  328.34  328.77  323.68  648.24   5,405,900
4  1/9/2012  322.04  322.29  309.46  620.76  11,688,800

In [4]:
train.tail(20)

            Date    Open    High     Low   Close     Volume
1238   12/2/2016  744.59  754.00  743.10   750.5  1,452,500
1239   12/5/2016  757.71  763.90  752.90  762.52  1,394,200
1240   12/6/2016  764.73  768.83  757.34  759.11  1,690,700
1241   12/7/2016  761.00  771.36  755.80  771.19  1,761,000
1242   12/8/2016  772.48  778.18  767.23  776.42  1,488,100
1243   12/9/2016  780.00  789.43  779.02  789.29  1,821,900
1244  12/12/2016  785.04  791.25  784.35  789.27  2,104,100
1245  12/13/2016  793.90  804.38  793.34   796.1  2,145,200
1246  12/14/2016  797.40  804.00  794.01  797.07  1,704,200
1247  12/15/2016  797.34  803.00  792.92  797.85  1,626,500
1248  12/16/2016  800.40  800.86  790.29   790.8  2,443,800
1249  12/19/2016  790.22  797.66  786.27   794.2  1,232,100
1250  12/20/2016  796.76  798.65  793.27  796.42    951,000
1251  12/21/2016  795.84  796.68  787.10  794.56  1,211,300
1252  12/22/2016  792.36  793.32  788.58  791.26    972,200
1253  12/23/2016  790.90  792.74  787.28  789.91    623,400
1254  12/27/2016  790.68  797.86  787.66  791.55    789,100
1255  12/28/2016  793.70  794.23  783.20  785.05  1,153,800
1256  12/29/2016  783.33  785.93  778.92  782.79    744,300
1257  12/30/2016  782.75  782.78  770.41  771.82  1,770,000

In [5]:
train.shape

(1258, 6)

In [6]:
A=train.to_numpy()[:,1:2]

In [7]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range = (0, 1))
A_scaled = sc.fit_transform(A)

In [8]:
xtrain=[]
ytrain=[]
for i in range(60,1258):
    xtrain.append(A_scaled[i-60:i,0])
    ytrain.append(A_scaled[i,0])

In [10]:
type(xtrain)#,xtrain.dtype

list

In [11]:
xtrain=np.array(xtrain)
ytrain=np.array(ytrain)

In [12]:
type(xtrain),xtrain.dtype

(numpy.ndarray, dtype('float64'))

In [ ]:
A_scaled.dtype

In [ ]:
xtrain = np.reshape(xtrain, (xtrain.shape[0], xtrain.shape[1], 1))

In [ ]:
import tensorflow as tf

In [ ]:
model=tf.keras.Sequential()

model.add(tf.keras.layers.LSTM(units=50,return_sequences=True,input_shape=(xtrain.shape[1],1)))
model.add(tf.keras.layers.Dropout(0.2))

model.add(tf.keras.layers.LSTM(units=50,return_sequences=True))
model.add(tf.keras.layers.Dropout(0.2))

model.add(tf.keras.layers.LSTM(units=50,return_sequences=False))
model.add(tf.keras.layers.Dropout(0.2))

model.add(tf.keras.layers.Dense(units=1))

model.compile(optimizer="adam",loss="mean_squared_error",metrics=["accuracy"])
model.summary()

In [ ]:
history=model.fit(xtrain,ytrain,epochs=10,batch_size=32)

In [ ]:
B=pd.read_csv("C:/Users/Amit/Notebooks/DL_P_1/Notebooks/DATA/Google_Stock_Price_Test.csv")
B.head()

In [ ]:
real_stock_price=B.to_numpy()[:,1:2]

In [ ]:
tot = pd.concat((train['Open'], B['Open']), axis = 0)
C = tot[len(tot) - len(B) - 60:].values
C = C.reshape(-1,1)
C = sc.transform(C)

In [ ]:
xtest = []
ytest=[]
for i in range(60, 80):
    xtest.append(C[i-60:i, 0])
    ytest.append(C[i,0])
xtest,ytest = np.array(xtest),np.array(ytest)
xtest = np.reshape(xtest, (xtest.shape[0], xtest.shape[1], 1))
pred = model.predict(xtest)

In [ ]:
#pred=pred.reshape(20,60)
pred = sc.inverse_transform(pred)

In [ ]:
pred=pd.DataFrame(pred)

In [ ]:
pred

In [ ]:
#final_pred=pred[19]
index0=np.arange(1258,1278)
pred.index=index0

final_pred=pd.DataFrame(pred,index=final_pred.index0)

In [ ]:
Z=pd.concat([train,B])

In [ ]:
Z.index=np.arange(0,1278)

In [ ]:
#plt.plot(Z.Open[0:1258],c="blue")
plt.plot(Z.Open[1258:],c="red")
plt.plot(pred,c="green")
plt.show()

In [ ]:
Z.tail()

In [ ]:
final_pred

In [ ]:
xtrain.dtype